<configuration xmlns="http://ch.qos.logback/xml/ns/logback"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://ch.qos.logback/xml/ns/logback logback.xsd">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%cyan(%d{HH:mm:ss.SSS}) %gray([%thread]) %highlight(%-5level) %magenta(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>kv2.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- <logger name="io.micronaut.http.client.netty.DefaultHttpClient" level="trace"/> -->
<!--    <logger name="io.micronaut.context.condition" level="DEBUG"/>-->
    <logger name="io.micronaut.security" level="DEBUG"/>
    <logger name="org.ethelred.kv2" level="DEBUG"/>
    <logger name="io.micronaut.web.router" level="DEBUG"/>
    <logger name="io.micronaut.http.server" level="DEBUG"/>

    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE"/>
    </root>
</configuration>
