@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
    themes: lemonade --default, coffee;
}

.collapse-title, :where(.collapse > input[type="checkbox"]) {
    min-height: 0 !important;
}

.CodeMirror {
  height: 100% !important;
}
